[Unit]
Description=Wazuh SOC TheHive Intercept Pipeline
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/wazuh-user/Wazuh-Part/thehive-configure
EnvironmentFile=/etc/wazuh-asil/secrets.env
Environment=FORCE_COLOR=1
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/wazuh-user/Wazuh-Part/thehive-configure/thehive-intercept.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
